* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iranSans;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iranSans;
    direction: rtl;
}

// colors
$border-color:#C5C5C5;
$primary-color:#FFAA5C;
$Secondary-color:#8C8C8C;

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

@mixin fullSpace {
    width: 100%;
    height: 100%;
}

@mixin componentSection {
    width: 100%;
    border: 2px solid #8c8c8c;
    height: max-content;
    padding-bottom: 30px;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 20px;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
    border-radius: 8px;
    // border: none;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: $primary-color;
    color: white;
    padding: 0 10px !important;
    transition: 0.5s;
}

.btn-Active {
    background: $primary-color !important;
    color: white !important;
}

input {
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;

    &:focus {
        border: 1px solid $primary-color !important;
        outline: 1px solid $primary-color !important ;
    }
    &::placeholder{
        font-size: 12px;
    }
}
select{
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    border: 1px solid #C5C5C5;

    &:focus {
        border: 1px solid $primary-color !important;
        outline: 1px solid $primary-color !important ;
    }
    &::placeholder{
        font-size: 12px;
    }
}

// offer badge
.offer-Badge {
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px 5px;
    border-radius: 50%;
}


// product card
.product-Card {

    &-Img {
        position: relative;

        span,
        svg {
            position: absolute;
        }

        span {
            @include center();
            top: 5%;
            left: 5%;
            background-color: $primary-color;
            color: #efefef;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            font-size: 14px;

        }

        svg {
            width: 35px;
            height: 35px;
            padding: 5px;
            fill: $primary-color;
            background: #efefef;
            top: 5%;
            right: 5%;
            border-radius: 8px;
        }

        img {
            background-color: #efefef70;

        }
    }

    &-Explain {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-Detail {
            text-transform: capitalize;
            @include center();
            justify-content: space-between;

            &-Sizes {
                display: flex;
                gap: 10px;

                &-Size {
                    cursor: pointer;
                    background: #efefef;
                    padding: 3px 12px;
                    font-size: 12px;

                    &:hover {
                        background-color: $primary-color;
                        color: #efefef;
                    }
                }
            }

            &-Colors {
                display: flex;
                gap: 10px;

                &-Color {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    // background-color: red;
                }
            }
        }

    }
}

// stepper
.stepper {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

// Section title
.card-Container {
    @include center;
   
    // justify-content: space-between;
    justify-content: space-evenly;
    // justify-content: flex-start;
    flex-wrap: wrap;

    align-items: flex-start;
    padding: 20px 0;
    row-gap: 20px;
    overflow-y: scroll;
}

// cat card 
.cat-Card {
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// switch button 
.switch {
    @include center();
    position: relative;
    // display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: $primary-color;
}

input:focus+.slider {
    box-shadow: 0 0 1px $primary-color;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

// section title
.section-Title {
    // padding: 0px 0;
    @include center;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: bold;

    span {
        padding: 0 10px;
    }

    div {
        flex: 1;
        height: 3px;
        border-radius: 9px;
        background-color: #ffab5c6e;
    }

    // seciton
    &-Section {
        @include center;
        justify-content: space-between;
    }
}

// copy right 
.copy-Right {
    padding: 15px 0;
    background-color: #D9D9D9;
    color: black;
    width: 100%;
    @include center;
    // font-weight: bold;
    letter-spacing: 1px;
}

// pagination
.pagination {
    position: absolute;
    width: 100%;
    @include center;
    bottom: 0px;
    right: 0;
    padding: 10px 0;
    @media (max-width:992px) {
        padding: 20px 0;
    }
    a {
        width: max-content !important;
    }
}

.pagination a {
    color: gray;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: $primary-color;
    color: white;
}

// similar product 
.similar-Product {
    padding: 10px 0px;

    .product-Card {
        width: 100%;

        &-Overlay {
            background-color: transparent;
            backdrop-filter: none;

            &-Detail {
                justify-content: flex-end;

                span {
                    padding: 10px 0;
                }
            }
        }
    }
}

.rtl {
    direction: rtl !important;
}

// navbar
.p-menubar .p-submenu-list>.p-menuitem-active>.p-submenu-list {
    right: 100% !important;
}

.pi-angle-right:before {
    content: "\e931" !important;
}

.p-menubar .p-submenu-list .p-menuitem-link .p-submenu-icon {
    margin-right: auto !important;
}

// progreess range price 
.p-slider .p-slider-range {
    background-color: $primary-color !important;
}

.modal {
    z-index: 22;

    &-Form {
        // padding: 15px 0;
        width: 100%;

        &-Tabs {
            width: 100%;
            border: 1px solid #9ca3af2c;
            margin: 10px 0;
            border-radius: 9px;

            button {
                width: 100%;
                text-align: center;
                background-color: transparent !important;
                font-size: 14px;
                color: black !important;
                box-shadow: none !important;

            }

            .active {
                background-color: $primary-color !important;
                color: white !important;
            }

        }



        &-Detail {
            margin-top: 30px;

            input {
                margin: 0px 0;
                border: 1px solid $border-color;
            }
        }
    }
}
.Calendar__monthText{
    background-color: rgb(249, 64, 64) !important;
}
.Calendar__yearText{
    background-color: rgb(86, 86, 255) !important;
}
.Calendar__monthSelectorItemText{
    background-color: rgb(224, 223, 223) !important;
    color: black !important;
}